
#Ignore large data storage files

archive/
filter_method/sorted_blobs/
filter_method/directory_filter.sh
filter_method/filter_blobs.sh
new_asset_blobs.txt
new_asset_blobs_no_dup.txt
filter_method/projects/cloned_github/
